/* ==UserStyle==
@name           Blaseball 2023 Restyle
@namespace      https://github.com/eltrov/Custom-Userstyles
@version        1.4.5
@description    A new userstyle Blaseball's 2023 relaunch
@author         eltrov
==/UserStyle== */
@-moz-document domain("blaseball.com") {
	/*=============================================================================================*/
	/* General Rules */
	:root {
		/* I've unintentionally landed on a 3:4 rule for team emojis and containers, so emojis are 75% the size of the container they're placed in*/
		
		/* emoji container size for most of the site */
		--bg-emoji: 64px;

		/* emoji imgae size for most of the site*/
		--sm-emoji: 48px;
		
		/* emoji container size for team page */
		--tm-bg-emoji: 96px;
		
		/* emoji image size for team page */
		--tm-sm-emoji: 72px;
	}

	/* This is generally bad practice and it just a placeholer for now. I'm not opposed to a new font but I will admit I'm mostly trying to recapture the look and feel of the original layout */
	* {
		font-family: 'Lora', sans-serif !important;
	}

	/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
	/* Hide scrollbar for IE, Edge and Firefox */
	* {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	/* Adjusts the emoji image container size */
	.game-header__emoji.away,
	.game-header__emoji.home,
	.League-DivisionCard-Logo,
	.bet-widget__emoji {
		border-radius: 50%;
		height: var(--bg-emoji);
		width: var(--bg-emoji);
	}

	/* This bit actually modifies the size of the images of the emojis */
	.game-header__emoji.away img,
	.game-header__emoji.home img,
	.League-DivisionCard-Logo img,
	.bet-widget__emoji img {
		height: var(--sm-emoji);
		width: var(--sm-emoji);
	}

	/* Removes the glass effect (a partially transparent gradient) in the background of each main container */
	.shared__glass-container {
		background: #000;
		/* original CSS
    background: linear-gradient(rgba(0,0,0,.1),hsla(0,0%,100%,.025)),radial-gradient(rgba(206,211,229,.1),rgba(20,22,26,.1));
    */
	}


	/*=============================================================================================*/
	/* PLAY */
	/* changes to the main PLAY area */
	.playtab {
		display: inline;
		max-width: 80%;
		padding: 0;
		margin: 0;
	}


	/* Anything smaller than 1080p and I let the base code take over and do its thing */
	@media(min-width: 1900px) {
		/* maybe stuff goes here later */
	}

	/* 6x2 game display tuned for 3440x1440 screen*/
	@media(min-width: 1921px) {
		.playtab__gamelist {
			max-width: 100%;
			--auto-grid-min-size: 19%;
		}
	}

	/* adding a little padding around the game header area */
	.game-header__matchup__row {
		padding: 5px 0;
	}

	/* */
	.game-widget {
		text-align: center;
		margin: auto;
	}

	/* upping the text size in the game output log (8px > 22px) */
	.game-widget__log {
		font-size: 22px;
		line-height: 22px;
	}

	/* Weather label and weather type (i.e. Horizon). Weather type has to be selected using first-child because it's currently sitting in an unclassed paragraph tag, but this works fine */
	.playtab__weather__label,
	.playtab__weather:first-child {
		font-size: 16px;
		display: inline;
	}

	.game-header__odds {
		font-size: 14px;
	}
	/* Text size for the Team's name in each game */
	.game-header__team {
		font-size: 20px;
	}

	.game-widget__player,
	.game-widget__player-name,
	.game-widget__position,
	.game-widget__inning {
		font-size: 18px;
		padding: 4px 0;
		text-transform: none;
	}

	.game-widget__count {
		font-family: 'Open Sans';
		padding: 0;
	}

	/* Need a mono-spaced font here so the circle indicators for Balls/Strikes/Outs all line up, because they're not in containers */
	/* https://fonts.google.com/specimen/JetBrains+Mono */
	.game-widget__count-label {
		font-family: 'JetBrains Mono', monospace !important;
		font-size: 22px;
	}

	/* Play Count (balls/strikes/outs/ */
	.game-widget__circle {
		height: 16px;
		width: 16px;
		border: 2px solid #fff;
	}

	.game-widget__atbat {
		width: auto;
	}

	.game-widget__atbat__row {
		display: inline-flex;
		gap: 1em;
		width: 100%
	}
	/* border between Pitcher and Batter lines */
	.game-widget__atbat__row:nth-child(1) {
		border-bottom: 1px solid #3d414c;
	}

	.game-widget__arrow {
		height: 32px;
		width: 32px;
	}

	/* bases indicator */
	.game-widget__field {
		min-height: 100px;
		min-width: 140px;
	}

	/* post-game team emoji display size - I've elected to just make the emoji fill the box out rather than increasing the box size for now */
	.game-widget__box-icon img {
		height: 100%;
		width: 100%;
	}

	/*=============================================================================================*/
	/* LEAGUE */
	/* Force overwrite for the League Name text (for some reason) */
	.League-Name h3 {
		font-family: 'Lora', sans-serif !important;
	}

	.League-DivisionCard {
		gap: 0;
	}

	.League-DivisionCard a:nth-child(1n) {
		background: #222;
	}

	.League-DivisionCard a:nth-child(2n) {
		background: #111;
	}

	.Standings-Team.Standings-Team-Name-Container.Standings-SingleList-Team {
		/*border: 1px solid white;*/
		padding: 4px 0;
	}

	.League-DivisionCard-Headings .RankTeam {
		gap: 104px;
	}

	/* Re-aligning the Team column header to line up with team  */
	.League-DivisionCard-Headings,
	.RankTeam,
	.WinLoss {
		font-size: 22px;
	}

	/* Division rank text fix for large team emoji */
	.League-DivisionCard-Rank {
		margin: auto;
		font-size: 24px;
	}

	.League-DivisionCard-Headings .WinLoss {
		gap: 28px;
		padding-right: 8px;
	}

	.League-DivisionCard-ListItem .WinLossValues {
		padding-right: 6px;
	}

	.WinLossValues {
		font-size: 24px;
	}

	.League-DivisionCard-Title {
		font-size: 32px;
		text-align: center;
	}

	/* Making sure everything is lined up without using monospaced font */
	.League-DivisionCard-Rank {
		/*font-family: 'JetBrains Mono', monospace !important;*/
		width: 40px;
		padding: 0 12px;
	}
	./*=============================================================================================*/
	/* BETTING */
	/* Narrow betting windows for 1080p - Anything smaller than that and I let the base code take over and do its thing */
	@media(min-width: 1900px) {
		.bet-widget__list {
			width: 55%;
		}
	}

	/* This setting is specifically tuned to my personal use with a 3440x1440 monitor */
	@media(min-width: 1921px) {
		.bet-widget__list {
			width: 34%;
		}
	}

	.bet-widget__wager {
		margin-top: 0;
		line-height: 8px;
		text-transform: none;
	}

	.League-DivisionCard-TeamName {
		font-size: 22px;
	}

	.bet-widget__info {
		font-size: 22px;
	}

	.bet-widget__record {
		font-size: 18px;
	}

	/* centers weather type over the betting widgets - there's css here referring to weather label as well (fron the site, directly) but it's currently unused. */
	.playtab__weather__label,
	.playtab__weather:first-child {
		margin: auto;
	}
	/*=============================================================================================*/
	/* VOTING */
	/*=============================================================================================*/
	
	/*=============================================================================================*/
	/* TEAMS */
	/*=============================================================================================*/
	/* center everything */
	.TeamLayout .TeamHeader {
		text-align: center;
	}
	
	/* more centering */
	.TeamLayout .TeamLogo,
	.TeamLayout .TeamModificationsRow {
		margin: auto;
	}
	
	.TeamLogo img {
		height: var(--tm-sm-emoji);
		width: var(--tm-sm-emoji);
	}
}
