/* ==UserStyle==
@name           Blaseball 2023 Restyle
@namespace      https://github.com/eltrov/Custom-Userstyles
@version        1.2.1
@description    A new userstyle Blaseball's 2023 relaunch
@author         eltrov
==/UserStyle== */
@-moz-document domain("blaseball.com") {
	/*=============================================================================================*/
	/* General Rules */
	/* This is generally bad practice and it just a placeholer for now. I'm not opposed to a new font but I will admit I'm mostly trying to recapture the look and feel of the original layout */
	* {
		font-family: 'Lora', sans-serif !important;
	}

	/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
	/* Hide scrollbar for IE, Edge and Firefox */
	* {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	/* Adjusts the emoji image container size */
	.game-header__emoji.away,
	.game-header__emoji.home,
	.League-DivisionCard-Logo {
		border-radius: 50%;
		height: 60px;
		width: 60px;
	}

	/* This bit actually modified the size of the images for the emojis */
	.game-header__emoji.away img,
	.game-header__emoji.home img,
	.League-DivisionCard-Logo img {
		height: 48px;
		width: 48px;
	}

	/* Removes the glass effect (faded gradient) in the background of each main container */
	.shared__glass-container {
		background: #000;
		/* original CSS
    background: linear-gradient(rgba(0,0,0,.1),hsla(0,0%,100%,.025)),radial-gradient(rgba(206,211,229,.1),rgba(20,22,26,.1));
    */
	}


	/*=============================================================================================*/
	/* PLAY */
	.playtab {
		max-width: 80%
	}


	/* Anything smaller than 1080p and I let the base code take over and do its thing */
	@media(min-width: 1900px) {
		/* maybe stuff goes here later */
	}

	/* 6x2 game display tuned for 3440x1440 screen*/
	@media(min-width: 1921px) {
		.playtab__gamelist {
			max-width: 100%;
			--auto-grid-min-size: 19%;
		}
	}

	.game-header__matchup__row {
		padding: 5px 0;
	}

	.game-widget {
		text-align: center;
		margin: auto;
	}

	.game-widget__log {
		font-size: 16px;
		line-height: 16px;
	}

	.playtab__weather__label {
		font-size: 14px;
	}

	.game-header__team {
		font-size: 18px;
	}

	.game-widget__player,
	.game-widget__player-name,
	.game-widget__position {
		font-size: 14px;
	}

	.game-widget__count {
		font-family: 'Open Sans';
		padding: 0;
	}

	/* Need a mono-spaced font here so the circle indicators for Balls/Strikes/Outs all line up, because they're not in containers */
	/* https://fonts.google.com/specimen/JetBrains+Mono */
	.game-widget__count-label {
		font-family: 'JetBrains Mono', monospace !important;
		font-size: 22px;
	}

	/* Play Count (balls/strikes/outs/ */
	.game-widget__circle {
		height: 16px;
		width: 16px;
	}

	/*=============================================================================================*/
	/* LEAGUE */
	/* Force overwrite for the League Name text (for some reason) */
	.League-Name h3 {
		font-family: 'Lora', sans-serif !important;
	}

	.League-DivisionCard {
		gap: 0;
	}

	.League-DivisionCard a:nth-child(1n) {
		background: #222;
	}

	.League-DivisionCard a:nth-child(2n) {
		background: #111;
	}

	.Standings-Team.Standings-Team-Name-Container.Standings-SingleList-Team {
		/*border: 1px solid white;*/
		padding: 4px 0;
	}

	/* Division rank text fix for large team emoji */
	.League-DivisionCard-Rank {
		margin: auto;
		font-size: 24px;
	}

	.WinLossValues {
		font-size: 24px;
	}

	.League-DivisionCard-Title {
		font-size: 32px;
		text-align: center;
	}

	/* Re-aligning the Team column header to line up with team  */
	.League-DivisionCard-Headings,
	.RankTeam,
	.WinLoss {
		font-size: 22px;
	}

	.League-DivisionCard-Headings .RankTeam {
		gap: 85px;
	}

	.League-DivisionCard-Headings .WinLoss {
		gap: 28px;
		padding-right: 2px;
	}

	./*=============================================================================================*/
	/* BETTING */
	/* Narrow betting windows for 1080p - Anything smaller than that and I let the base code take over and do its thing */
	@media(min-width: 1900px) {
		.bet-widget__list {
			width: 55%;
		}
	}

	/* This setting is specifically tuned to my personal use with a 3440x1440 monitor */
	@media(min-width: 1921px) {
		.bet-widget__list {
			width: 34%;
		}
	}

	.bet-widget__wager {
		margin-top: 0;
		line-height: 8px;
		text-transform: none;
	}

	.League-DivisionCard-TeamName {
		font-size: 22px;
	}

	/*=============================================================================================*/
	/* VOTING */
	/*=============================================================================================*/
}
