/* ==UserStyle==
@name           Fandom Cleaner
@namespace      github.com/openstyles/stylus
@version        2.2
@description    A userscript to de-clutter Fandom wiki pages. My main focus is to remove all extra bullshit and make a nicer wikipedia-style reading experience. 
@author         eltrov
==/UserStyle== */
@-moz-document domain("fandom.com"), domain("gamepedia.com") {
    #WikiaRailWrapper,
    .mcf-en,
    /* removes a massive amount of junk bottom of the page */
    .wds-global-footer,
    /* Fandom company footer, including corporate links */
    .WikiaBarWrapper,
    /* Removed the wrapper that runs across the very bottom of the page, linking to random other things (ads?) */
    .wds-global-navigation__content-bar-left,
    /* Fandom company links (to other topics/wikis) - this essentially slims down the header bar to just the search bar itself */
    .wds-global-navigation__start-a-wiki,
    /* Removed the "Start a Wiki" page and fully right-justifys the search bar */
    .wds-global-navigation__user-menu,
    /* removes sign-in button */
    .wds-community-header,
    /* Removes the community wiki banner from the top of the page */
    #mw-notification-area,
    /* Removes site notiifcation pop-ups */
    .page__right-rail

    /* Removes the mostly-empty space on the right */
        {
        display: none;
    }


    /* removes site wrapper, allows page content to fill 100% of the width */
    .WikiaSiteWrapper {
        width: auto;
    }


    /* Removes a tiny bit of background image poking out from behind the main body div*/
    .WikiaSiteWrapper .WikiaPage {
        padding: 0;
    }

    .portable-infobox {
        width: auto;
        border: 1px solid white;
        border-radius: 15px;
    }

    .pi-image {
        padding-top: 15px;
        border-radius: 15px 15px 0 0;

    }

    .portable-infobox.pi-navigation:last-child,
    .portable-infobox .pi-navigation:last-child {
        border-radius: 0 0 15px 15px;
    }

    .main-container {
        margin-left: 0px;
        widtH: 100%;
    }

    /* adjusting background to compensade for the removal of the wiki sidebar */
    .fandom-community-header__background.fullScreen {
        width: 100%;
    }

    /* Revmoes "related community" suggestion on search page */
    .WikiaPageContentWrapper .unified-search__layout__right-rail,
    .mw-body-content .unified-search__layout__right-rail,
    .page-content .unified-search__layout__right-rail {
        display: none;
    }

    .notifications-placeholder {
        display: none;
    }

    .fandom-sticky-header {
        display: none;
    }

    .global-navigation,
    .global-footer {
        display: none !important;
    }

    .community-header-wrapper {
        /* */
    }

    #mw-data-after-content {
        display: none
    }

    .global-registration-buttons {
        display: none;
    }

    .fandom-community-header__local-navigation {
        display: none;
    }

    .community-header-wrapper {
        height: 75px;
    }

    a {
        color: #c1a866;
    }

    a:hover {
        color: #847c66;
    }

    section {
        display: none;
    }

    /*
Color stuff only for HP Wiki
.page__main {
	background-color: rgba(222, 222, 222, 1.0);
}
*/

    /**

V 2.2 changes below

**/

    #global-top-navigation {
        display: none;
    }

    #global-explore-navigation {
        display: none;
    }

    /* The below -46px value is the exact correct value for the MST3k fandom wiki, but may not work with other sites. */
    .fandom-community-header__background {
        top: -46px;
    }

    .resizable-container {
        max-width: 65%;
        top: 0px;
    }

    .page-header__actions {
        display: none;
    }
}